#bg {
    height: 12.92rem;
    width: 7.5rem;
    background: url("../images/search.png");
    background-size: 100% auto;
    padding-top: 0.5rem;
}

#input {
    display: flex;
}

#left {
    margin-left: 0.2rem;
    font-size: 20px;
    color: #fff;
    height: 0.4rem;
    line-height: 0.4rem;

}

#right {
    height: 0.59rem;
    width: 0.59rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 30px;
    color: white;
    font-weight: 300;
    line-height: 0.5rem;
    text-align: center;
    margin-left: 2.9rem;
}

#music {
    height: 0.55rem;
    line-height: 0.55rem;
    color: white;
    font-size: 36px;
    font-weight: 100;
    margin: 0.6rem 1.47rem 0 0.2rem;
    display: flex;
    justify-content: space-between;
}

#item-one {
    width: 6.55rem;
    height: 0.45rem;
    margin: 0.95rem 0 0.5rem 0.24rem;
    display: flex;
    justify-content: space-between;
}

.writing1 {
    width: 1.12rem;
    height: 100%;
    border-radius: 0.23rem;
    background: #f0c310;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 0.45rem;
}

.article1 {
    width: 1.37rem;
    height: 100%;
    border-radius: 0.23rem;
    border: 0.02rem solid #f0c310;
    background: transparent;
    color: #f0c310;
    font-size: 12px;
    text-align: center;
    line-height: 0.45rem;
}

#item-two {
    width: 5.37rem;
    height: 0.45rem;
    margin-left: 0.82rem;
    display: flex;
    justify-content: space-between;
}

.writing2 {
    width: 0.97rem;
    height: 100%;
    border-radius: 0.23rem;
    background: #f0c310;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 0.45rem;
}

.article2 {
    width: 1.06rem;
    height: 100%;
    border-radius: 0.23rem;
    border: 0.02rem solid #f0c310;
    color: #f0c310;
    font-size: 12px;
    text-align: center;
    line-height: 0.45rem;
}
.active0{
    left:-0.02rem;top:0.19rem
}
.active1{
    left:0.19rem;top:-0.02rem
}
.active2{
    left:0.19rem;bottom:-0.02rem
}
.active3{
    right:0.19rem;top:-0.02rem
}
.active4{
    right:0.19rem;bottom:-0.02rem
}
.active5{
    right:0.02rem;top:0.19rem
}