/*header*/
body{
    color: #888787;
}
#header {
    height: 1.09rem;
    width: 7.5rem;
    background: #01486f;
}

#header-top {
    height: 1.09rem;
    width: 100%;
}

#header-inner {

    width: 90%;
    display: flex;
    /*background: blue;*/
    justify-content: space-between;
    /*上下居中*/
    align-items: center;
    margin:0 auto;
}

#header-profile {
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    border: 0.02rem solid #f9cd1e;
    overflow: hidden;

}

#header-profile img {
    height: .6rem;
    width: .6rem;
    display: block;

}

#header-search {
    width: 4.28rem;
    height: .46rem;
    border-radius: .23rem;
    border: 0.03rem solid #b3c8d4;
    background: #1c5b7e;
    position: relative;
}

#header-nav {
    width: .6rem;
    height: 1.09rem;
}

#header-point {
    float: left;
    background: #ffd015;
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    margin-top: 0.16rem;
    margin-left: 0.09rem;
}

#header-input {
    width: 3rem;
    height: 0.27rem;
    float: left;
    margin-top: 0.07rem;
    margin-left: 0.18rem;
    background: #1c5b7e;
    border: none;
}

/*+表示紧挨着header-input的div*/
/*获得焦点显示，失去焦点隐藏*/
#header-input:focus + div {
    display: block;

}

#header-submit {
    float: left;
    width: 0.67rem;
    height: 0.33rem;
    border: none;
    margin-top: 0.04rem;
    margin-left: 0.15rem;
    background: url("../image/header-submit.png") no-repeat center/100% auto;
}

#header-nav {
    background: url("../image/header-nav.png") no-repeat center/100% auto;
}


#header-nav-list {
    width: 1.72rem;
    height: 3.24rem;
    background: rgba(12, 42, 54, 0.7);
    position: absolute;
    top: 0.9rem;
    right: 0.24rem;
    border-radius: 0.08rem;
    padding-left: 0.13rem;
    padding-right: 0.13rem;
    display: none;
    z-index: 2;
}
.web{
    padding: 0.24rem;
}
.web p{
    padding-left: 0.3rem;
    color: #48abff;
    font-size: 16px;
}
.work-location{
    width: 6.35rem;
    height: 2.16rem;
    margin: 0 auto 0.3rem;
}
.location-des{
    margin: 0.2rem auto;
    line-height: 25px;
}
.one{
    width: 7rem;
    height: 5.39rem;
    margin: 0 auto;
}
.one img{
    width: 7rem;
    height: 1.77rem;
}
.two{
    width: 7rem;
    height: 1.57rem;
}
.two img{
    width: 3.23rem;
    height: 1.16rem;
    margin: 0 1.96rem;
}
.three{
    height: 2.41rem;
    width: 7.24rem;
    margin: 0 auto;
}
.three img{
    width: 3.38rem;
    height: 0.85rem;
    float: left;
    margin: 0.12rem;
}
/*-------------------模板以外--------------------*/
#container{
    width: 7.5rem;
    background: #efefef;
    padding-top: 0.3rem;
}
.first-part{
    width: 7rem;
    height: 5.51rem;
    background: url("../img/use_2_03.jpg") no-repeat center /100% auto;
    margin: 0 auto 1.07rem;
}
.bar{
    width: 1.31rem;
    height: 0.38rem;
    margin:0 0 0.41rem 0.23rem ;
}
.factor-int{
    width: 6.35rem;
    margin: 0.1rem auto 0.5rem;
    line-height: 20px;
}
.factor-info{
    width: 6.35rem;
    margin: 0.1rem auto 0.5rem;
    line-height: 20px;
}





/*---------------------------------------*/



#footer {
    height: 5.72rem;
    width: 7.5rem;
    background: #2d2d2d;
    border: 1px #25b0ff solid;
}

#footer-picture {
    width: 4.29rem;
    height: 1.86rem;
    margin: 0.4rem 1.6rem 0 1.6rem;
}

#footer-picture-left {
    width: 1.42rem;
    height: 1.42rem;
    background: url("../image/footer-picture.png") no-repeat;
    background-size: 100% auto;
    float: left;
    margin-left: 0.3rem;
}

#footer-picture-divider {
    height: 1.42rem;
    width: 0;
    border-left: 1px #4c4b4b solid;
    float: left;
}

#footer-picture-right {
    width: 1.42rem;
    height: 1.42rem;
    background: #25b0ff;
    float: left;
    margin-left: 0.68rem;
}

#footer-text {
    height: 0.9rem;
    width: 4.29rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer-text1 {
    width: 1.23rem;
    height: 0.41rem;

    font-size: 12px;
    text-align: center;
    color: #959393;
}

#footer-divider {
    width: 2.6rem;
    height: 0;
    border-bottom: 1px #6b6969 dashed;
    margin: 0.25rem 2.4rem;
}

#footer-decoration {
    width: 6.05rem;
    height: 0.7rem;
    margin: 0 auto;
    font-size: 12px;
    color: #959393;
    text-align: center;
}

#footer-relate {
    width: 2.15rem;
    height: 0.58rem;
    margin: 0.3rem auto;
    display: flex;
    justify-content: space-between;
}

.footer-relate-item {
    width: 0.58rem;
    height: 0.58rem;
}

.footer-relate-item:nth-child(1) {
    background: url("../image/footer-relate1.png") no-repeat;
    background-size: 100% auto;
}

.footer-relate-item:nth-child(2) {
    background: url("../image/footer-relate2.png") no-repeat;
    background-size: 100% auto;
}

.footer-relate-item:nth-child(3) {
    background: url("../image/footer-relate3.png") no-repeat;
    background-size: 100% auto;
}
